APP_NAME=Wajad
APP_ENV=local
APP_KEY=base64:6D69VOCVkTkgBgdB4tPqwmwQZUDLYRQSjefQh/x9fbU=
APP_DEBUG=true
# APP_URL=http://wajad.test
# ADMIN_URL=http://admin.wajad.test
# CORPORATE_URL=http://corporate.wajad.test
API_URL=176.58.124.254

# QRCODE_DEFAULT_IMAGE=http://api.wajad.test/assets/images/qr_code/logo.jpeg

API_NAME=wajad

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wajad
DB_USERNAME=etabebuser
DB_PASSWORD=Secure123$%^

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MAP_ADDRESS_API_KEY=AIzaSyB5YyJkbyKPH2qqelKYp_4jT2U6a8jPeao

NEXMO_KEY=bde31b84
NEXMO_SECRET=XzoZXpyUA4fBSmFP

# CURRENCY
CURRENCY=USD

# PAGINATION
PAGINATION_PER_PAGE=15

# JWT EXPIRY TIME
JWT_TTL=60
# JWT REFRESH TOKEN EXPIRY 
# JWT_REFRESH_TTL=2
# JWT SECRET
JWT_SECRET=KA3n5uzhDdXChnk7jiN689QLb2FwG3i38YJzPhEsezKxCYKzXdBGCBvcOgeD1poE