APP_NAME=WAJAD
APP_ENV=local
APP_KEY=base64:CZu5PwUK0T5hQF1PSWMlnNGN9jaNom1ZTtjYHy2TNpA=
APP_DEBUG=true
APP_URL=http://wajad.test
ADMIN_URL=http://admin.wajad.test
CORPORATE_URL=http://corporate.wajad.test
API_URL=http://api.wajad.test

LOG_CHANNEL=stack
FILESYSTEM_DRIVER=public
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wajad
DB_USERNAME=root
DB_PASSWORD=
TIMEZONE=Asia/Riyadh
BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database
 

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=587
MAIL_USERNAME=wajad.app@gmail.com
MAIL_PASSWORD=WAJAD123456
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Wajad APP"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=770712
PUSHER_APP_KEY=ae0b4c188dcc7e6967f6
PUSHER_APP_SECRET=44aaf5a957169260f3dc
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


STRIPE_KEY=pk_test_eTk6l9EncYo5Fwe8yOs4cykE00vPJavrqV
STRIPE_SECRET=sk_test_ix9vw9vk7PJ2Q7lB8UfGwpJD00LHdmI4DL





JWT_TTL=3600
JWT_SECRET=KA3n5uzhDdXChnk7jiN689QLb2FwG3i38YJzPhEsezKxCYKzXdBGCBvcOgeD1poE

POST_LIMITATION=50
REPORTS_NUMBER=50


PAYPAL_CLIENT_ID=AZPw-hSNZkXTE29hi5qblrs0pQhfc9T4h0XNbeHGNR9JLyJ8iFIACn5DRcNKIkq14hs094-my9RbtE8J
PAYPAL_SECRET=ED7lIwn7ikopd8e5h1dabh4qu_sLlLz1HySydGOpKC7WtWisutwCI87PogGLABKgjYCc4YvJGYvndhWn
PAYPAL_MODE=sandbox

 
       
PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_API_USERNAME=sb-o0jnx604579_api1.business.example.com
PAYPAL_SANDBOX_API_PASSWORD=8EBFA5NBZA2RCJXY
PAYPAL_SANDBOX_API_SECRET=AMpU9KSqDgtby4oaNccpykrDchTgARL8R3mz-Xd6RaX24ls-nZ4UtP1J
PAYPAL_CURRENCY=USD
PAYPAL_SANDBOX_API_CERTIFICATE=
CURRENCY=USD

NOVA_PAYPAL_USERNAME=sb-o0jnx604579_api1.business.example.com
NOVA_PAYPAL_PASSWORD=8EBFA5NBZA2RCJXY
NOVA_PAYPAL_SIGNATURE=AMpU9KSqDgtby4oaNccpykrDchTgARL8R3mz-Xd6RaX24ls-nZ4UtP1J


FCM_SERVER_KEY=AAAAE_nv-8c:APA91bFXRN6M6nh1YjWrKoy5dkAJXCPjzd6vnDWBEm05qI2PgM0PnRHzNUaD3Q0_5Hi-6EIiMNI4UZuAFQXkUGsmDDC_7X1tUBJbx8oVU9H29OOzcUlzYDm0LDD33e9ADWgrhpMIPN9E

 
NEXMO_KEY=7675e5f6
NEXMO_SECRET=YSwJLVfK80oF0LYs
SENDER_NAME=WAJAD

QRCODE_LOGO=logo.png