/node_modules
/public/hot
/public/storage
/public/images/qrcodes
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nova-components/QrcodeGenerator/node_modules/
/nova-components/DownloadQrcodeImage/node_modules/
/nova-components/googleMaps/node_modules/
composer.lock
resources/views/apidoc/*
resources/docs/*
worker.log
/.idea
/ttfontdata
/phpMyAdmin-4.5.5-all-languages
/phpMyAdmin-4.5.5-all-languages.zip